@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-lora: var(--font-lora);
  --font-chivo: var(--font-chivo);
  --font-playfair: var(--font-playfair);
  --font-beth-ellen: var(--font-beth-ellen);
  --font-nova-cut: var(--font-nova-cut);
  --font-sacramento: var(--font-sacramento);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  outline: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
